.container{
 font-size: 64px;
 font-family: Arial;
 text-align: center;
 }
 .jumbotron{
  border: 2px solid black;
 }
 .Info{
  text-align: center;
 }
 p{
  font-size:12px;
 }
 li{
  font-size:18px;
 }
 .JO{
  border: 2px solid black;
 }
 .AC{
  border: 2px solid black;
 }
 .EH{
  border: 2px solid black;
 }
 .VE{
  border: 2px solid black;
 }
 .ED{
  border: 2px solid black;
 }
 .AW{
  border: 2px solid black;
 }

