h1{
 font-size: 64px;
 font-family: Arial;
 text-align: center;
 }
 .Info{
  text-align: center;
 }
 h3{
   text-align:center;
 }
 p{
   text-align:center;
 }
ul{
   text-align:center;
 }
 h4{
   text-align:center;
 }
